<!doctype html>
<html ng-app="mqttApp">
<head>

    <script src="https://code.angularjs.org/1.3.8/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.8/angular-route.js "></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/JavaScript" src="ws31.js"></script>
    <script type="text/JavaScript" src="mq.js"></script>
    <script src="require.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("visualization", "1.0", {'packages': ["corechart","gauge"]});</script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="d3.css">
</head>
<body ng-controller="mqttCtrl" BGCOLOR="#010101">

<div class="row">
    <div class="delta-time col-md-2" topic="Stellaris-1/system/uptime" ></div>
    <div class="abs-time col-md-2" topic="Stellaris-1/system/now" ></div>
    <div class="lmr-gauge col-md-1" topic="topics['Stellaris-1/system/temp']" ></div>
    <bars-chart class="col-md-3" topic="Stellaris-1/system/temp" style="width: 600px; height: 300px"></bars-chart>
</div>


<form class="form-inline has-success">
    <div class="form-group">
        <label>Host</label>
        <input type="text" class="form-control" ng-model="host" placeholder="{{host}}">
        <label>Port</label>
        <input type="text" class="form-control" ng-model="port" placeholder="{{port}}">
    </div>
    <button type="button" class="btn btn-primary" ng-click="connect()">Connect</button>
    <button type="button" class="btn btn-primary" ng-click="disconnect()">Disconnect</button>
    Updates <kbd>{{updates}}</kbd> {{log}}
</form>

<table class="table table-striped table-bordered table-condensed">
    <thead>
    <td data-toggle="tooltip" data-position="top" tooltip>NAME</td>
    <td>VALUE</td>
    <td>updates</td>
    </thead>
    <tbody>
    <tr ng-repeat="topic in topics | orderBy : 'name'">
        <td class="text-right"><a href="#/topicMeta/{{ topic.name }}">
            <small>{{ topic.name }}</small>
        </a></td>
        <td>
            <small>{{ topic.value }}</small>
        </td>
        <td>
            <small>{{ topic.count }}</small>
        </td>
        <td><kbd ng-click="disconnect()">SET</kbd></td>
    </tr>
    </tbody>
</table>


</body>
</html>
